*{
    margin: 0;
    font-family: sans-serif;
}

body {
    background-image: url("../immagini/background_scooter.jpg");
    background-size: cover; /* per far vedere l'immagine buggata */
    margin: 0;
}

.Background-Rgba{
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 60vw;
    margin-top: 20px;
    position: absolute;
    left: 22%;
    border-radius: 3%; /* per dare una somiglianza ad un cerchio che parte dagli spigoli */
}

    
img{
    width: 200px;
    margin-top: 70px;
    margin-left: 40%;
}

.Background-Nav{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    align-items: center;
}

.Background-Nav button{
    margin: 5px;
}

header > h2{
    color: greenyellow;
    text-align: center;
}

.Margin-Left > h3{
    font-size: 25px;
}

.Quadrato-Banco {
    width: 20px;
    height: 20px;
    background: white;
}  

.Margin-Left{
    margin-top: 20px;
    margin-left: 10%;
    color: white;
}

.Linee{
    border-radius: 4px;
}

.Orange-Linee {
    background-color: orange;
    width: 250px; 
    height: 20px; 
}

.Green-Linee {
    background-color: greenyellow;
    width: 400px; 
    height: 20px; 
}

.Red-Linee {
    background-color: red;
    width: 130px; 
    height: 20px; 
}